.rule-small {
	height: 2px;
	background-color: #bcbbbb;
	border: none;
}

.rule-large {
	height: 4px;
	background-color: #bcbbbb;
	border: none;
}

.button {
	font-size: 1.2em;
	margin-top: 5px;
	width: 250px;
}

.button-content {
	color: white;
	text-decoration: none;
}

.photo {
	border-radius: 50%;
}

.about-me-text,
.projects-intro {
	font-size: 1.4em;
	margin: 20px;
}

.skills-header {
	margin: 20px 20px 10px 20px;
}

.skills {
	font-size: 1.3em;
}

.project-summary {
	font-size: 1.2em;
}